<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleSideBar()">
      <mat-icon>menu</mat-icon>
    </button>

    <span
      >Sistema de Informacion Regional / Direccion Regional de Salud Cajamarca / OITE</span
    >

    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">
        <li>
          <button mat-icon-button [routerLink]="['/admin/panel']">
            <mat-icon>home</mat-icon>
          </button>
        </li>
        <li>

          <button mat-icon-button [matMenuTriggerFor]="atenmenu">
            <mat-icon>add_box</mat-icon>
          </button>
          <mat-menu #atenmenu="matMenu">
            <button mat-menu-item (click)="abrirEmergenteNuevaSolicitud() " >
              <mat-icon>add_box</mat-icon>
              Añadir Solicitud
            </button>
            <button mat-menu-item [routerLink]="['/admin/atencion']">
              <mat-icon>assignment_return</mat-icon>
              Ir a Atenciones
            </button>
          
          </mat-menu>
          
        </li>
        <li>
          <button mat-icon-button (click)="abrirNotificaciones()">
            <mat-icon [matBadge]="nro_noti"  matBadgeColor="warn">notification_important</mat-icon>
          </button>
        </li>
        <li>
          <button mat-icon-button [matMenuTriggerFor]="setting">
            <mat-icon>settings</mat-icon>
          </button>
          <mat-menu #setting="matMenu">
            <button mat-menu-item routerLink="usuarios">
              <mat-icon>person</mat-icon>
              Usuarios
            </button>
            <button mat-menu-item (click)="abrirEmergenteCambiarContra()">
              <mat-icon>lock_open</mat-icon>
              Cambiar Contraseña
            </button>
          </mat-menu>
        </li>
        <li>
          <button mat-icon-button>
            <mat-icon>help_outline</mat-icon>
          </button>
        </li>
        <li>
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/personal.jsp">
              <mat-icon>exit_to_app</mat-icon>
              Cerrar Sesion
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
