<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>

        <span>Sistema de Seguimiento a Poblacion en Riesgo/ Direccion Regional de Salud Cajamarca</span>
       

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" >
            <ul fxLayout="row" fxLayoutGap="20px">
                <li> 
                    <button mat-icon-button >
                        <mat-icon>home</mat-icon>
                </button>
                </li>
                <li> 
                    <button mat-icon-button (click)="abrirNotificaciones()">
                        <mat-icon>add_box</mat-icon>
                </button>
                </li>
                <li>
                    <button mat-icon-button (click)="abrirNotificaciones()">
                        <mat-icon>notification_important</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon>settings</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>person_outline</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item  routerLink="/personal.jsp">
                            <mat-icon>exit_to_app</mat-icon>
                          Cerrar Sesion
                        </button>
                    </mat-menu>

                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>