<div class="ui-g">
  <div class="ui-g-12">
    <form [formGroup]="fg">
      <table>
        <tr>
          <th>
            CODIGO
          </th>
          <th>
            MEDICAMENTO
          </th>
          <th>
            PRESENTACION
          </th>
          <th>
            CONCENTRACION
          </th>
          <th>
            TIPO
          </th>
          <th>
            PETITORIO
          </th>
          <th>
            FF
          </th>
        </tr>

        <tr>
          <th>
            <input
              pInputText
              type="text"
              (input)="filtrar($event)"
              class="ui-column-filter"
              formControlName="COD_MEDICAMENTO"
            />
          </th>
          <th>
            <input
              pInputText
              type="text"
              (input)="filtrar($event)"
              class="ui-column-filter"
              formControlName="MEDICAMENTO"
            />
          </th>
          <th>
            <input
              pInputText
              type="text"
              (input)="filtrar($event)"
              class="ui-column-filter"
              formControlName="PRESENTACION"
            />
          </th>
          <th>
            <input
              pInputText
              type="text"
              (input)="filtrar($event)"
              class="ui-column-filter"
              formControlName="CONCENTRACION"
            />
          </th>
          <th>
            <input
              pInputText
              type="text"
              (input)="filtrar($event)"
              class="ui-column-filter"
              formControlName="TIPO"
            />
          </th>
          <th>
            <input
              pInputText
              type="text"
              (input)="filtrar($event)"
              class="ui-column-filter"
              formControlName="PETITORIO"
            />
          </th>
          <th>
            <input
              pInputText
              type="text"
              (input)="filtrar($event)"
              class="ui-column-filter"
              formControlName="FF"
            />
          </th>
        </tr>
      </table>
    </form>
  </div>

  <div class="ui-g-12">
    <p-table
      #dt
      [columns]="cols"
      [value]="medicamentos"
      selectionMode="single"
      [(selection)]="medicSelect"
      [paginator]="true"
      [rows]="15"
      (onRowSelect)="onRowSelect($event)"
    >
      <ng-template pTemplate="caption">
        Lista de Medicamentos
        <div class="ui-table-globalfilter-container">
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Global Search"
          />
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of cols" [pSortableColumn]="col.field">
            {{ col.header }}
            <p-sortIcon
              [field]="col.field"
              ariaLabel="Activate to sort"
              ariaLabelDesc="Activate to sort in descending order"
              ariaLabelAsc="Activate to sort in ascending order"
            ></p-sortIcon>
          </th>
        </tr>

        <tr>
          <th *ngFor="let col of columns">
            {{ col.header }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
            {{ rowData[col.field] }}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer" let-columns>
        <tr>
          <td *ngFor="let col of columns">
            {{ col.header }}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        Existen {{ medicamentos?.length }} medicamentos
      </ng-template>
    </p-table>
  </div>
</div>
