.Titulo{
    color: white;
    float: right;
    /* background-color: rgba(0,0,0,0.15); */
    margin-top: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.Division{
    margin-top: 25%;
}

.Portada{
    padding: 5px;
    width: 100%;
}

.RecortePortada{
    height: 500px;
    overflow: hidden;
}

.Imagenes{
    height: 150px;
}

.tarjeta{
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.Linkeador{
    text-decoration: none;
}
.Linkeador:hover{
    text-shadow: 2px 2px 1px white;
}