<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="row" style="background-color: #0a2344">
    <div class="col-lg-12">
        <div class="Titulo"><h1>SISTEMA DE SEGUIMIENTO A PACIENTES EN RIESGO</h1></div>  
    </div>
</div>

<div class="row">
    <div class="col-lg-12 RecortePortada">
        <img class="Portada" src="assets/images/portada.png" alt="" />
    </div>
</div>

<div class="row" style="background-color: #0a2344">
    <div class="col-lg-6 text-center tarjeta">
        <a class="Linkeador" href="public" alt="Paciente">
            <div class="row">
                <div class="col-lg-12">
                    <img class="Imagenes" src="assets/images/inicio/paciente.png" alt="" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <br/>
                    <h3>PACIENTES</h3>
                </div>
            </div>            
        </a>
    </div>
    <div class="col-lg-6 text-center tarjeta">
        <a class="Linkeador" href="personal.jsp" alt="Atención">
            <div class="row">
                <div class="col-lg-12">
                    <img class="Imagenes" src="assets/images/inicio/seguimiento.png" alt="" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <br/>
                    <h3>SEGUIMIENTO</h3>
                </div>
            </div>            
        </a>
    </div>
</div>
   