<div class="container">




    <div class="ui-g">
      <div class="ui-g ui-g-12">
    
      </div>
 
      <div class="ui-g ui-g-4 button-container">
       
        <img src="http://localhost:8085/SISTEMA_SEGUIMIENTO/assets/Logo diresa.png" class="logo"  alt="kkkkkkkkkkk">

      </div>
      <br>
      <br>
      
      <div class="ui-g ui-g-8">
        <img src="http://localhost:8085/SISTEMA_SEGUIMIENTO/assets/sistema.png" class="banner"  alt="">
    
      </div>
      <div class="ui-g ui-g-6">
        <a href="public" alt="Buy Tickets">
          <img class="imagenes" src="http://localhost:8085/SISTEMA_SEGUIMIENTO/assets/Paciente.png" alt="" href="public.jsp">
        </a> 
        
      </div>
      
      <div class="ui-g ui-g-6">
        <a href="personal.jsp" alt="Buy Tickets">
        <img src="assets/atencionlogo.png" class="imagenes atencion"  alt="">
      </a> 
      </div>
    </div>
    </div>
