.text-consentimiento{
    font-size: 16px;
    text-align: justify;
    text-indent: 2em;
    margin: 4px 4em 4px 4em;
}
.alert {
    padding: 20px;
    background-color: #68cff8; /* Red */
    color: white;
    margin-bottom: 15px;
  }
.text-consentimiento-title{
    margin: 30px 15px 10px 15px;
    text-align: justify;
 
}
.aceptar{
    text-align: center;
    font-size: 21px;
}