<p-dialog
  header="NUEVO USUARIO"
  [(visible)]="verNuevoUsuarios"
  [modal]="true"
  [style]="{ width: '80vw' }"
  [baseZIndex]="20"
  [draggable]="false"
  [resizable]="false"
  [maximizable]="true"
>
<p-toast position="top-left" key="mensajeusu"></p-toast>
  <form name="nuevousu" #form="ngForm">
    <div class="ui-g">
      <div class="ui-g-12 contenedordatosnuevos">
        <span class="titulobusqueda">
          INGRESE EL PERSONAL AL QUE SE VA CREAR USUARIO
        </span>

        <div class="ui-inputgroup contenedordatosnuevos">
          <input
            id="input"
            type="text"
            [(ngModel)]="numdocbuscar"
            style="width: 100%;"
            pInputText
            name="numdocbuscar"
          />
          <p-button
            label="Buscar"
            (onClick)="buscarPersonal($event)"
          ></p-button>
        </div>
      </div>

      <div class=" ui-g-12">
        <p-fieldset legend="Datos Generales" [toggleable]="true">
          <div class="ui-g-3">
            <div class="p-field p-grid">
              <label for="firstname3" class="p-col-fixed" style="width: 250px;"
                >Numero de documento</label
              >
              <div class="p-col">
                <input
                  id="firstname3"
                  type="text"
                  pInputText
                  [(ngModel)]="datgenerales.numdoc"
                  name="numdoc"
                />
              </div>
            </div>
          </div>
          <div class="ui-g-3">
            <div class="p-field p-grid">
              <label for="firstname3" class="p-col-fixed" style="width: 250px;"
                >Nombres</label
              >
              <div class="p-col">
                <input
                  id="firstname3"
                  type="text"
                  pInputText
                  [(ngModel)]="datgenerales.nombre"
                  name="nombre"
                />
              </div>
            </div>
          </div>

          <div class="ui-g-3">
            <div class="p-field p-grid">
              <label for="firstname3" class="p-col-fixed" style="width: 250px;"
                >Apellido Paterno</label
              >
              <div class="p-col">
                <input
                  id="firstname3"
                  type="text"
                  pInputText
                  [(ngModel)]="datgenerales.apellidopaterno"
                  name="apellidopaterno"
                />
              </div>
            </div>
          </div>

          <div class="ui-g-3">
            <div class="p-field p-grid">
              <label for="firstname3" class="p-col-fixed" style="width: 250px;"
                >Apellido Materno</label
              >
              <div class="p-col">
                <input
                  id="firstname3"
                  type="text"
                  pInputText
                  [(ngModel)]="datgenerales.apellidomaterno"
                  name="apellidomaterno"
                />
              </div>
            </div>
          </div>
        </p-fieldset>
      </div>
      <div class=" ui-g-12">
        <p-fieldset legend="Datos Adicionales" [toggleable]="true">
          <div class="ui-g">
            <div class="ui-g-3">
              <div class="p-field p-grid">
                <label
                  for="firstname3"
                  class="p-col-fixed"
                  style="width: 250px;"
                  >Correo Electronico</label
                >
                <div class="p-col">
                  <input
                    id="firstname3"
                    type="text"
                    pInputText
                    [(ngModel)]="datgenerales.correo"
                    name="correo"
                  />
                </div>
              </div>
            </div>

            <div class="ui-g-3">
              <div class="p-field p-grid">
                <label
                  for="firstname3"
                  class="p-col-fixed"
                  style="width: 250px;"
                  >Numero de Telefono</label
                >
                <div class="p-col">
                  <input
                    id="firstname3"
                    type="text"
                    pInputText
                    [(ngModel)]="datgenerales.telef"
                    name="telef"
                  />
                </div>
              </div>
            </div>

            <div class="ui-g-4 contenedordatosnuevos"></div>
          </div>
        </p-fieldset>
      </div>

      <div class="ui-g-12">
        <p-fieldset legend="Datos Profesionales" [toggleable]="true">
          <div class="ui-g">
            <div class="ui-g-3 contenedordatosnuevos">
              <label for="float-input">Profesion</label>
              <br />
              <p-dropdown
                [options]="profesiones"
                [(ngModel)]="profesionselec"
                filter="true"
                placeholder="Seleccione una Profesion"
                (onChange)="cambioprof($event)"
                name="profesionselec"
              >
                <ng-template let-item pTemplate="selectedItem">
                  <span style="vertical-align: middle; margin-left: 0.5em;">{{
                    item.label
                  }}</span>
                </ng-template>
                <ng-template let-car pTemplate="item">
                  <div
                    class="ui-helper-clearfix"
                    style="position: relative; height: 25px;"
                  >
                    <div
                      style="font-size: 14px; float: right; margin-top: 4px;"
                    >
                      {{ car.label }}
                    </div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
            <div class="ui-g-3">
              <label for="float-input">Colegio Profesional</label>

              <br />
              <p-dropdown
                [options]="colegiost"
                [(ngModel)]="colegiselect"
                editable="true"
                placeholder="Selecione su colegio profesional"
                name="colegiselect"
              ></p-dropdown>
            </div>
            <div class="ui-g-3">
              <label for="float-input">Especialidad</label>
              <br />
              <label for="float-input">{{ especialidad }}</label>
            </div>

            <div class="ui-g-3">
              <p-checkbox
                [(ngModel)]="colegiado"
                binary="true"
                name="escolegiado"
              ></p-checkbox>
              <label for="float-input">Colegiado?</label>

              <br />
              <label for="float-input">Codigo Colegiatura</label>
              <input
                type="text"
                pInputText
                [(ngModel)]="cod_colegiatura"
                name="cod_colegiatura"
              />
            </div>
          </div>
        </p-fieldset>
      </div>

      <div class="ui-g ui-g-12">
        <p-fieldset legend="Ambitos de Acceso" [toggleable]="true">
          <p-table [columns]="colsambitos" [value]="ambitoelegidos">
            <ng-template pTemplate="caption">
              <div class="ui-helper-clearfix" style="text-align: rigth;">
                <app-ambito-administrativo-select
                  (selecionoAmbito)="aniadirAmbito($event)"
                ></app-ambito-administrativo-select>
              </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns">
                  {{ col.header }}
                </th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-car let-columns="columns">
              <tr>
                <td *ngFor="let col of columns">
                  {{ car[col.field] }}
                </td>
                <td>
                  <button
                    pButton
                    icon="pi pi-refresh"
                    label="Editar"
                    class="ui-button-success"
                  ></button>
                  <button
                    pButton
                    icon="pi pi-trash"
                    label="Eliminar"
                    class="ui-button-danger"
                  ></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-fieldset>
      </div>
      <div class="ui-g-12" >
        <p-fieldset legend="Roles" [toggleable]="true">
        <p-multiSelect [options]="roles" [(ngModel)]="rolesselect" name='rolesselect'  [ngStyle]="{'width':'120px'}">
          <ng-template let-value pTemplate="selectedItems">
              <div *ngFor="let val of value" class="ui-multiselected-item-token ui-corner-all">
                <div style="width:24px;vertical-align:middle;margin-right:.5em" ></div>
                  <span icon="pi pi-users">{{val}}</span>
              </div>
              <span *ngIf="!value || value.length === 0" class="ui-multiselected-empty-token ui-corner-all">Elija los roles que tendra el usuario</span>
          </ng-template>
          <ng-template let-car pTemplate="item">
            <div  style="width:24px;display:inline-block;vertical-align:middle"></div>
              <div icon="pi pi-users" style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
          </ng-template>
      </p-multiSelect>
    </p-fieldset>
      </div>
      <div class="ui-g ui-g-12">
        <p-fieldset legend="Selecion de Establecimiento" [toggleable]="true">
          <p-table [columns]="colsambitos" [value]="ipressselect">
            <ng-template pTemplate="caption">
              <div class="ui-helper-clearfix" style="text-align: rigth;">
                <app-ambito-administrativo-select
                  (selecionoAmbito)="aniadirIpress($event)"
                ></app-ambito-administrativo-select>
              </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns">
                  {{ col.header }}
                </th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-car let-columns="columns">
              <tr>
                <td *ngFor="let col of columns">
                  {{ car[col.field] }}
                </td>
                <td>
                  <button
                    pButton
                    icon="pi pi-refresh"
                    label="Editar"
                    class="ui-button-success"
                  ></button>
                  <button
                    pButton
                    icon="pi pi-trash"
                    label="Eliminar"
                    class="ui-button-danger"
                  ></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-fieldset>
      </div>

      <div class="ui-g-12">
        <p-fieldset
          legend="Generacion de Cuenta y Contraseña"
          [toggleable]="true"
        >
          <div class="ui-g-12">
            <div class="ui-g-2">
              <p-button
                label="Generar"
                (onClick)="generarContrasenia()"
              ></p-button>
            </div>
            <div class="ui-g-10">
              <p-progressBar [value]="avanceusuario"></p-progressBar>
            </div>
          </div>
          <div class="ui-g-4"></div>
          <div class="ui-g-4">
            <p-card header="USUARIO GENERADO">
              USUARIO:
              <div class="usuario">{{ usuariogen }}</div>
              <br />
              CONTRASEÑA:
              <div class="usuario">{{ clavegen }}</div>
            </p-card>
          </div>
          <div class="ui-g-4"></div>
        </p-fieldset>
      </div>
    </div>
  </form>
  <p-footer>
    <p-button
      type="button"
      icon="pi pi-check"
      (onClick)="generarCuenta()"
      label="GENERAR USUARIO"
    ></p-button>
    <p-button type="button" icon="pi pi-times" label="CANCELAR"></p-button>
  </p-footer>
</p-dialog>
<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
></p-confirmDialog>
