<p-dialog
  header="NUEVO USUARIO"
  [(visible)]="verNuevoUsuarios"
  [modal]="true"
  [style]="{ width: '80vw' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
  [maximizable]="true"
>
<form name="nuevousu" #form="ngForm">
  <div class="ui-g">
    <div class="ui-g-12 contenedordatosnuevos">
      <span class="titulobusqueda">
        INGRESE EL PERSONAL AL QUE SE VA CREAR USUARIO
      </span>

      <div class="ui-inputgroup contenedordatosnuevos">
        <input
          id="input"
          type="text"
          [(ngModel)]="numdocbuscar"
          style="width: 100%;"
          pInputText
          name="numdocbuscar"
        />
        <p-button label="Buscar" (onClick)="buscarPersonal($event)"></p-button>
      </div>
    </div>

    <div class="ui-g ui-g-12">
      <p-fieldset legend="Datos Generales" [toggleable]="true">
        <div class="ui-g-3 contenedordatosnuevos">
          <input
            id="float-input"
            [(ngModel)]="datgenerales.numdoc"
            type="text"
            size="30"
            pInputText
            name="numdoc"
          /><br>
          <label for="float-input">Numerdo de Documento</label>
        </div>
        <div class="ui-g-3 contenedordatosnuevos">
          <input
            id="float-input"
            type="text"
            size="30"
            [(ngModel)]="datgenerales.nombre"
            pInputText
            name="nombre"
          /><br>
          <label for="float-input">Nombres</label>
        </div>
        <div class="ui-g-3 contenedordatosnuevos">
          <input
            id="float-input"
            type="text"
            size="30"
            pInputText
            [(ngModel)]="datgenerales.apellidopaterno"
            name="apellidopaterno"
          />
          <br>
          <label for="float-input">Apellido Paterno</label>
        </div>
        <div class="ui-g-3 contenedordatosnuevos">
          <input
            id="float-input"
            type="text"
            size="30"
            pInputText
            [(ngModel)]="datgenerales.apellidomaterno"
            name="apellidomaterno"
          />
          <br>
          <label for="float-input">Apellido Materno</label>
        </div>
      </p-fieldset>
    </div>
    <div class="ui-g ui-g-12">
      <p-fieldset legend="Datos Adicionales" [toggleable]="true">
        <div class="ui-g-4 contenedordatosnuevos">
          <input
            id="float-input"
            type="text"
            size="30"
            pInputText
            [(ngModel)]="datgenerales.correo"
            name="correo"
          />
          <label for="float-input">Correo Electronico</label>
        </div>
        <div class="ui-g-4 contenedordatosnuevos">
          <input
            id="float-input"
            type="text"
            size="30"
            pInputText
            [(ngModel)]="datgenerales.telef"
            name="telef"
          />
          <label for="float-input">Numero de Telefono</label>
        </div>
        <div class="ui-g-4 contenedordatosnuevos">
         
        </div>
      </p-fieldset>
    </div>

    <div class=" ui-g-12">
      <p-fieldset legend="Datos Profesionales" [toggleable]="true">
        <div class="ui-g">

        <div class="ui-g-3 contenedordatosnuevos">
          <label for="float-input">Profesion</label>
          <br>
          <p-dropdown
            [options]="profesiones"
            [(ngModel)]="profesionselec"
            filter="true"
            placeholder="Seleccione una Profesion"
            (onChange)="cambioprof($event)"
            name="profesionselec"
           
          >
            <ng-template let-item pTemplate="selectedItem">
              <span style="vertical-align: middle; margin-left: 0.5em;">{{
                item.label
              }}</span>
            </ng-template>
            <ng-template let-car pTemplate="item">
              <div
                class="ui-helper-clearfix"
                style="position: relative; height: 25px;"
              >
                <div style="font-size: 14px; float: right; margin-top: 4px;">
                  {{ car.label }}
                </div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
        <div class="ui-g-3 ">

          <label for="float-input">Colegio Profesional</label>
       
          <br>
          <p-dropdown [options]="colegiost" [(ngModel)]="colegiselect"
           editable="true" placeholder="Selecione su colegio profesional"
           name="colegiselect"></p-dropdown>

        </div>
        <div class="ui-g-3">
          <label for="float-input">Especialidad</label>
          <br>
          <label for="float-input">{{especialidad}}</label>

        </div>

        <div class="ui-g-3">
          <p-checkbox [(ngModel)]="colegiado" binary="true" name="escolegiado"></p-checkbox>
          <label for="float-input">Colegiado?</label>
          
        
          
          <br>
          <label for="float-input">Codigo Colegiatura</label>
          <input type="text" pInputText [(ngModel)]="cod_colegiatura"
          name="cod_colegiatura"/>
        </div>
        

      </div>
      </p-fieldset>
    </div>

    <div class="ui-g ui-g-12">
      <p-fieldset legend="Ambitos de Acceso" [toggleable]="true">
        <p-table [columns]="colsambitos" [value]="ambitoelegidos">
          <ng-template pTemplate="caption">
            <div class="ui-helper-clearfix" style="text-align: rigth;">
              <app-ambito-administrativo-select
                (selecionoAmbito)="aniadirAmbito($event)"
              ></app-ambito-administrativo-select>
            </div>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns">
                {{ col.header }}
              </th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-car let-columns="columns">
            <tr>
              <td *ngFor="let col of columns">
                {{ car[col.field] }}
              </td>
              <td>
                <button
                  pButton
                  icon="pi pi-refresh"
                  label="Editar"
                  class="ui-button-success"
                ></button>
                <button
                  pButton
                  icon="pi pi-trash"
                  label="Eliminar"
                  class="ui-button-danger"
                ></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-fieldset>
    </div>
    <div class="ui-g ui-g-12">
      <p-fieldset legend="Selecion de Establecimiento" [toggleable]="true">
        <p-table [columns]="colsambitos" [value]="ipressselect">
          <ng-template pTemplate="caption">
            <div class="ui-helper-clearfix" style="text-align: rigth;">
              <app-ambito-administrativo-select
                (selecionoAmbito)="aniadirIpress($event)"
              ></app-ambito-administrativo-select>
            </div>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns">
                {{ col.header }}
              </th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-car let-columns="columns">
            <tr>
              <td *ngFor="let col of columns">
                {{ car[col.field] }}
              </td>
              <td>
                <button
                  pButton
                  icon="pi pi-refresh"
                  label="Editar"
                  class="ui-button-success"
                ></button>
                <button
                  pButton
                  icon="pi pi-trash"
                  label="Eliminar"
                  class="ui-button-danger"
                ></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-fieldset>
    </div>

    <div class="ui-g-12">
      <p-fieldset
        legend="Generacion de Cuenta y Contraseña"
        [toggleable]="true"
      >
        <div class="ui-g-12">
          <div class="ui-g-2">
            <p-button
              label="Generar"
              (onClick)="generarContrasenia()"
            ></p-button>
          </div>
          <div class="ui-g-10">
            <p-progressBar [value]="avanceusuario"></p-progressBar>
          </div>
        </div>
        <div class="ui-g-4"></div>
        <div class="ui-g-4">
          <p-card header="USUARIO GENERADO">
            USUARIO:
            <div class="usuario">{{ usuariogen }}</div>
            <br />
            CONTRASENIA:
            <div class="usuario">{{ clavegen }}</div>
          </p-card>
        </div>
        <div class="ui-g-4"></div>
      </p-fieldset>
    </div>
  </div>

 
</form>
  <p-footer>
    <p-button
    type="button"
    
    icon="pi pi-check"
    (onClick)="generarCuenta()"
    label="GENERAR USUARIO"

  ></p-button>
  <p-button
    type="button"
    
    icon="pi pi-times"
    label="CANCELAR"
  
  ></p-button>
  </p-footer>

</p-dialog>
<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
></p-confirmDialog>
