:host ::ng-deep .ui-dialog{
    color: whitesmoke;
    background-color: #3f51b5;
}
:host ::ng-deep .ui-dialog-title .ui-dialog-titlebar{
    color: whitesmoke;
    background-color: #3f51b5;
}

:host ::ng-deep  .ui-dialog-titlebar{
    color:white !important;
    background-color: #3f51b5 !important;;
  
}
::ng-deep  .titulobusqueda{
    font-size: 20px;
}
 .contenedordatosnuevos{
    margin-bottom: 15px;
    margin-left: auto;
}
::ng-deep legend{
    width: auto;
}
::ng-deep .ui-widget{
  font-size: 25px;
}
::ng-deep .ui-float-label{
    font-size: 15px;
  }
  .ui-float-label>label {
      font-weight: bold;
  }
  ::ng-deep .ui-corner-all{
    border-radius: 8px !important;
}
  

