:host ::ng-deep .ui-table-customers {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

:host ::ng-deep .ui-table-customers .customer-badge {
	border-radius: 2px;
	padding: .25em .5em;
	text-transform: uppercase;
	font-weight: 700;
	font-size:8px;
	letter-spacing: .3px;
}

:host ::ng-deep .ui-table-customers .customer-badge.status-PENDIENTE {
	background-color: #C8E6C9;
	color: #256029;
	font-size: 12px;
}

:host ::ng-deep .ui-table-customers .customer-badge.status-unqualified {
	background-color: #FFCDD2;
	color: #C63737;
}

:host ::ng-deep .ui-table-customers .customer-badge.status-negotiation {
	background-color: #FEEDAF;
	color: #8A5340;
}

:host ::ng-deep .ui-table-customers .customer-badge.status-ATENDIDO {
	background-color: #B3E5FC;
	color: #23547B;
	font-size: 12px;
}

:host ::ng-deep .ui-table-customers .customer-badge.status-renewal {
	background-color: #ECCFFF;
	color: #694382;
}

:host ::ng-deep .ui-table-customers .customer-badge.status-proposal {
	background-color: #FFD8B2;
	color: #805B36;
}

:host ::ng-deep .ui-table-customers .flag {
	vertical-align: middle;
	width: 30px;
	height: 20px;
}

:host ::ng-deep .ui-table-customers .ui-multiselect-representative-option {
	display: inline-block;
	vertical-align: middle;
}

:host ::ng-deep .ui-table-customers .ui-multiselect-representative-option img {
	vertical-align: middle;
	width: 24px;
}

:host ::ng-deep .ui-table-customers .ui-multiselect-representative-option span {
	margin-top: .125em;
	vertical-align: middle;
	margin-left: .5em;
}

:host ::ng-deep .ui-table-customers .ui-paginator .ui-dropdown {
	float: left;
}

:host ::ng-deep .ui-table-customers .ui-paginator .ui-paginator-current {
	float: right;
}

:host ::ng-deep .ui-table-customers .ui-progressbar {
	height: 8px;
	background-color: #D8DADC;
}

:host ::ng-deep .ui-table-customers .ui-progressbar .ui-progressbar-value {
	background-color: #00ACAD;
}

:host ::ng-deep .ui-table-customers .ui-column-filter {
	display: block;
}

:host ::ng-deep .ui-table-customers .ui-column-filter input {
	width: 100%;
}

:host ::ng-deep .ui-table-customers .ui-table-globalfilter-container {
	float: right;
}

:host ::ng-deep .ui-table-customers .ui-table-globalfilter-container input {
	width: 200px;
}

:host ::ng-deep .ui-table-customers .ui-datepicker {
	min-width: 25em;
}

:host ::ng-deep .ui-table-customers .ui-datepicker td {
	font-weight: 400;
}

:host ::ng-deep .ui-table-customers .ui-table-caption {
	border: 0 none;
	padding: 12px;
	text-align: left;
	font-size: 20px;
}

:host ::ng-deep .ui-table-customers .ui-paginator {
	border: 0 none;
	padding: 1em;
}

:host ::ng-deep .ui-table-customers .ui-table-thead > tr > th {
	border: 0 none;
	text-align: left;
}

:host ::ng-deep .ui-table-customers .ui-table-thead > tr > th.ui-filter-column {
	border-top: 1px solid #c8c8c8;
}

:host ::ng-deep .ui-table-customers .ui-table-thead > tr > th:first-child {
	width: 12em;
	text-align: center;
}

:host ::ng-deep .ui-table-customers .ui-table-thead > tr > th:last-child {
	width: 8em;
	text-align: center;
}

:host ::ng-deep .ui-table-customers .ui-table-tbody > tr > td {
	border: 0 none;
	cursor: auto;
}

:host ::ng-deep .ui-table-customers .ui-table-tbody > tr > td:first-child {
	width: 12em;
	text-align: center;
}

:host ::ng-deep .ui-table-customers .ui-table-tbody > tr > td:last-child {
	width: 8em;
	text-align: center;
}

:host ::ng-deep .ui-table-customers .ui-dropdown-label:not(.ui-placeholder) {
	text-transform: uppercase;
}

:host ::ng-deep .ui-table-customers .ui-table-tbody > tr > td .ui-column-title {
	display: none;
}

/* Responsive */
@media screen and (max-width: 64em) {
	:host ::ng-deep .ui-table.ui-table-customers .ui-table-thead > tr > th,
  :host ::ng-deep .ui-table.ui-table-customers .ui-table-tfoot > tr > td {
		display: none !important;
	}

	:host ::ng-deep .ui-table.ui-table-customers .ui-table-tbody > tr > td {
		text-align: left;
		display: block;
		border: 0 none !important;
		width: 100% !important;
		float: left;
		clear: left;
		border: 0 none;
	}

	:host ::ng-deep .ui-table.ui-table-customers .ui-table-tbody > tr > td .ui-column-title {
		padding: .4em;
		min-width: 30%;
		display: inline-block;
		margin: -.4em 1em -.4em -.4em;
		font-weight: bold;
	}
}
.contenedor{
    width: 4200px;
}
