




<p-contextMenu #cm [model]="elementosmenu"></p-contextMenu>

   


<p-table #dt [value]="pacientes"   styleClass="ui-table-customers" 
[rowHover]="true"  [(contextMenuSelection)]="selectedNoti" [contextMenu]="cm"
[rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" 
[paginator]="true" currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} resultados"
[filterDelay]="0" [globalFilterFields]="['Codigo_Item','Descripcion_Item','Fg_Tipo','Fg_Estado']"
[resizableColumns]="true" 
[columns]="cols" [scrollable]="true" [style]="{width:'100%'}">
<ng-template pTemplate="colgroup" let-columns>
    <colgroup>
        <col *ngFor="let col of columns" style="width:250px">
    </colgroup>
</ng-template>

<ng-template pTemplate="header" let-columns>
    <tr>
        <th pSortableColumn="ESTADO">Estado <p-sortIcon field="ESTADO"></p-sortIcon></th>
  
       
        <th pSortableColumn="{{col.field}}" *ngFor="let col of columns" >{{col.header}}  <p-sortIcon field="{{col.field}}"></p-sortIcon></th>
     
       
        <th></th>
    </tr>
    <tr>
        <th> <input pInputText type="text" (input)="dt.filter($event.target.value, 'ESTADO', 'contains')" placeholder="Buscar por ESTADO" class="ui-column-filter"></th>
       
        <th *ngFor="let col of columns">
            <input pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'startsWith')" placeholder="Buscar por {{col.header}}" class="ui-column-filter">
        </th>   

        <th></th>
    </tr>
</ng-template>
<ng-template pTemplate="body" let-customer let-columns="columns">
    <tr class="ui-selectable-row" [pContextMenuRow]="customer">
        <td>
            <span class="ui-column-title">Status</span>
            <span [class]="'customer-badge status-' + customer.ESTADO">{{customer.ESTADO}}</span>
        </td>
     
        
        <td *ngFor="let col of columns">
            <span class="ui-column-title">Codigo</span>
       
            {{customer[col.field]}}
           
        </td>
      
        <td>
           
        </td>
        
    </tr>
</ng-template>
<ng-template pTemplate="summary">
    Existen {{pacientes?.length}} resultados
    <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXPORTAR A EXCEL" (click)="exportExcel()" style="margin-right: 0.5em;" class="ui-button-success"></button>
</ng-template>
<ng-template pTemplate="emptymessage">
    <tr>
        <td colspan="8" style="text-align:left">No se han hallado Solicitudes.</td>
    </tr>
</ng-template>


</p-table>











