.container{
    background-image: url('/src/assets/fondo_covid2.png');
    background-color:rgba(51,202,255,0.5);
    
}
.titulo{
    font-size: 35px;
    color:white;
}
.banner{
    background-color:rgb(51,202,255);;

}
.subtitulo{
    font-size: 15px;
    color:black;
    display: inline;
}