.rangoanos{
    
    display: block;
    margin-top: 1.5em;
    margin-bottom: 1em;
   


}
.ubicaciones{
    display: block;
    margin-top: 1em;
   margin-bottom: 1em;
}
.container-fluid{
    width: 90%;
   

}

.ui-table-scrollable-header{
    font-size: 9.5px;
}
.custombar2{
    margin-bottom: 14px;
}

.ui-fieldset .ui-fieldset-legend{
    font-size: 10.5px !important;
    color: blue;
}

