.contenedor {
    width: 1048px;
    margin: auto;
    border-color:rgb(0, 195, 255);
    border-style: solid;
    margin-top: 40px;
    height: 703px;
    background-image: url('../../../assets/Fondo.jpg');
}

.ui-inputtext
{
    text-transform: uppercase;
}