.contenedor {
    width: 1048px;
    margin: auto;
    border-color:rgb(0, 195, 255);
    border-style: solid;
    margin-top: 40px;
    height: 703px;
    background-image: url('../../../assets/Fondo.jpg');
}

::ng-deep .ui-calendar{
   width: 100%; 
}
::ng-deep .ui-inputtext
{
    text-transform: uppercase;
    width: 100%; 
    border-radius: 15px;
}
.ui-dialog-titlebar{
     font-size: 16px;
}
.label-form{
    padding-left: 3em;
}