
<app-formulario-verificar (verificoform)="manejarPanel($event)"></app-formulario-verificar>
<p-dialog
  header="REGISTRE SUS DATOS"
  [(visible)]="verpanelregistro"
  [modal]="true"
  [style]="{width: dialog_width, heigth: '60vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="true"
  class="dialog_resp"
>
  <p-messages [(value)]="msgs" key="EXISTEPER"></p-messages>
  <p-panel header="DATOS GENERALES" *ngIf="verpaneldatosgenerales">
    <form #datosgenerales="ngForm">

      <div class="ui-g">
        <div class="ui-g-12 ui-md-3 label-form">Nombres</div>
        <div class="ui-g-12 ui-md-9">
          <input
            name="nombres"
            id="txtNombre"
            required
            type="text"
            #nombres="ngModel"
            pInputText
            [(ngModel)]="nombres_nuevo"
            [pKeyFilter]="letrasyespacio"
            (blur)="cambiaform()"
            
          />
        </div>

        <div class="ui-g-12 ui-md-3 label-form">Apellido Paterno</div>
        <div class="ui-g-12 ui-md-9">
          <input
            name="apellido_paterno"
            required
            type="text"
            pInputText
            [(ngModel)]="ape_pat_nuevo"
            [pKeyFilter]="letrasyespacio"
            #ape_pat="ngModel"
            (blur)="cambiaform()"
          />
          <p-message
            severity="error"
            text="Apellido Paterno es requerido"
            *ngIf="ape_pat.invalid && ape_pat.touched"
            >Campo es requerido</p-message
          >
        </div>
        <div class="ui-g-12 ui-md-3 label-form">Apellido Materno</div>
        <div class="ui-g-12 ui-md-9">
          <input
            name="apellido_materno"
            required
            type="text"
            pInputText
            [(ngModel)]="ape_mat_nuevo"
            #ape_mat="ngModel"
            (blur)="cambiaform()"
          />
          <p-message
            severity="error"
            text="Apellido Materno es requerido"
            *ngIf="ape_mat.invalid && ape_mat.touched"
          ></p-message>
        </div>
        <div class="ui-g-12 ui-md-3 label-form">Genero</div>
        <div class="ui-g-12 ui-md-9">
          <p-dropdown
            name="genero"
            required
            [options]="generos"
            [(ngModel)]="generosele"
            placeholder="Seleccione"
            [style]="{width: '100%', 'min-width': 'auto'}"
            #genero="ngModel"
            (blur)="cambiaform()"
          ></p-dropdown>
          <p-message
            severity="error"
            text="Campo Genero es requerido"
            *ngIf="genero.invalid && genero.touched"
          ></p-message>
        </div>
        <div class="ui-g-12 ui-md-3 label-form">Tipo de Documento</div>
        <div class="ui-g-12 ui-md-9">
          <p-dropdown
            name="tipodo"
            [options]="tiposdoc"
            disabled="true"
            size="80"
            [(ngModel)]="tipodocseleccionado"
            [style]="{ width: '100%', 'min-width':'auto' }"
            [maxlength]="300"
            placeholder="Seleccione "
            (blur)="cambiaform()"
            #tipodoc="ngModel"
          ></p-dropdown>
          <p-message
            severity="error"
            text="Tipo de Documento es requerido"
            *ngIf="tipodoc.invalid && tipodoc.touched"
          ></p-message>
        </div>
        <div class="ui-g-12 ui-md-3 label-form">Numero de Documento</div>
        <div class="ui-g-12 ui-md-9">
          <p-inputMask
            name="numerodo"
            [(ngModel)]="numerodoc"
            size="8"
            mask="99999999"
            size="20"
            disabled="true"
            title="INGRESE SU NUMERO DE DOCUMENTO"
            characterPattern="[0-9]"
            id="float-input"
          >
          </p-inputMask>
        </div>
        <div class="ui-g-12 ui-md-3 label-form">Fecha de Nacimiento</div>
        <div class="ui-g-12 ui-md-9">
          <p-calendar
            name="FECNAC"
            required
            [(ngModel)]="FECNAC"
            [yearNavigator]="true"
            yearRange="1900:2020"
            disabled="true"
          ></p-calendar>
        </div>
      </div>
    </form>
  </p-panel>
  <p-panel header="Solicitud de Atencion de Paciente" [toggleable]="true">
    <form #solicitud="ngForm">
      <div class="ui-g">
        <div class="ui-g-12 ui-md-3 label-form">Telefono Celular de Contacto</div>
        <div class="ui-g-12 ui-md-9">
          <p-inputMask
            required
            name="telefcon1"
            [(ngModel)]="telefcon1"
            mask="999-999999"
            #telecon1="ngModel"
            (blur)="cambiaform()"
          ></p-inputMask>
          <p-message
            severity="error"
            text="Tipo de Documento es requerido"
            *ngIf="telecon1.invalid && telecon1.touched"
          ></p-message>
        </div>

        <div class="ui-g-12 ui-md-3 label-form">Telefono Fijo de Contacto</div>
        <div class="ui-g-12 ui-md-9">
          <p-inputMask
            name="telefcon2"
            [(ngModel)]="telefcon2"
            mask="99-9999"
            (blur)="cambiaform()"
          >
          </p-inputMask>
        </div>
        <div class="ui-g-12 ui-md-3 label-form">Correo Electronico</div>
        <div class="ui-g-12 ui-md-9">
          <input
            name="correo"
            type="text"
            [(ngModel)]="correo"
            pInputText
            characterPattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]"
            pKeyFilter="email"
            (blur)="cambiaform()"
            #corre="ngModel"
          />
          <p-message
            severity="error"
            text="Correo Electronico es requerido"
            *ngIf="corre.invalid && corre.touched"
          ></p-message>
        </div>
        <div class="ui-g-12 ui-md-3 label-form">Motivo</div>
        <div class="ui-g-12 ui-md-9">
          <textarea
            name="obsevaciones"
            pInputTextarea
            [rows]="10"
            [(ngModel)]="obsevaciones"
            (blur)="cambiaform()"
            required
            #obser="ngModel"
            style="width : 100% "
          ></textarea>
          <p-message
            severity="error"
            text="Campo Motivo es requerido"
            *ngIf="obser.invalid && obser.touched"
          ></p-message>
        </div>
        <div class="ui-g-12 ui-md-3"></div>
        <div class="ui-g-12 ui-md-9">
          <mat-checkbox>Solicita Vacunacion</mat-checkbox>
        </div>
        <div class="ui-g-12 ui-md-3 label-form">Fecha de Solicitud</div>
        <div class="ui-g-12 ui-md-9">
          <p-calendar
            name="fechasolicitud"
            [(ngModel)]="fechasolicitud"
            showButtonBar="true"
            disabled="true"
            [showTime]="true"
          ></p-calendar>
        </div>
        <div class="ui-g-12 ui-md-3 label-form">Provincia</div>
        <div class="ui-g-12 ui-md-9">
          <p-dropdown
            required
            name="provincia"
            [options]="provincias"
            [(ngModel)]="provinciaselecionada"
            placeholder="Seleccione "
            [style]="{width: '100%', 'min-width': 'auto'}"
            (onChange)="cambioProvincia()"
            #provincia="ngModel"
            (change)="cambiaform()"
          ></p-dropdown>
          <p-message
            severity="error"
            text="Campo Provincia es requerido"
            *ngIf="provincia.invalid && provincia.touched"
          ></p-message>
        </div>
        <div class="ui-g-12 ui-md-3 label-form">Distrito</div>
        <div class="ui-g-12 ui-md-9">
          <p-dropdown
            required
            name="distrito"
            [options]="distritos"
            [(ngModel)]="distritoselecionado"
            [style]="{width: '100%', 'min-width': 'auto'}"
            #distrito="ngModel"
            placeholder="Seleccione "
            (onChange)="cambiadis()"
          ></p-dropdown>
          <p-message
            severity="error"
            text="Campo Distrito es requerido"
            *ngIf="distrito.invalid && distrito.touched"
          ></p-message>
        </div>
        <div class="ui-g-12 ui-md-3 label-form">Domicilio Actual</div>
        <div class="ui-g-12 ui-md-9">
          <textarea
            required
            name="direccion"
            pInputTextarea
            [rows]="10"
            [(ngModel)]="direccion"
            #direccio="ngModel"
            style="width : 100%"
          ></textarea>
          <p-message
            severity="error"
            text="Campo Direccion es requerido"
            *ngIf="direccio.invalid && direccio.touched"
          ></p-message>
        </div>
        <div class="ui-g-12 ui-md-3 label-form">
          Establecimiento de Salud mas Cercano
        </div>
        <div class="ui-g-12 ui-md-9">
          <p-dropdown
            required
            name="ipresss"
            placeholder="Seleccione "
            [options]="ipressFiltrados"
            [style]="{width: '100%', 'min-width': 'auto'}"
            [(ngModel)]="ipress_select"
            #ipress="ngModel"
          ></p-dropdown>
          <p-message
            severity="error"
            text="Establecimiento es requerido"
            *ngIf="ipress.invalid && ipress.touched"
          ></p-message>
        </div>
        <div class="ui-g-12">
     <!--      <app-georeferencia></app-georeferencia> -->
        </div>
      </div>

      <app-consentimiento-informado
        (aceptocon)="validarcheck($event)"
      ></app-consentimiento-informado>
    </form>
  </p-panel>
  <p-footer>
    <button
      #btenv
      type="button"
      pButton
      icon="pi pi-check"
      [(disabled)]="desabiltbot"
      (click)="guardarPaciente()"
      label="Aceptar"
    ></button>
    <button
      type="button"
      pButton
      icon="pi pi-times"
      (click)="cancelarSolicitud()"
      label="Cancelar"
      class="ui-button-secondary"
    ></button>
  </p-footer>

  <p-confirmDialog
    header="Confirmacion"
    icon="pi pi-exclamation-triangle"
    key="final"
  ></p-confirmDialog>
  <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"   key="finalfinal"></p-confirmDialog>

</p-dialog>
<p-dialog [(visible)]="vermensajeconfirmacion"
  >Su solicitud ha sido procesada exitosamente, pronto el personal médico se comunicará con usted según la información proporcionada.</p-dialog
>
