


<table class="table">
    <thead>
      <tr>
        <th scope="col">Acciones</th>
        <th scope="col">Numero de Documento</th>
        <th scope="col">Apellido Paterno</th>
        <th scope="col">Apellido Materno</th>
        <th scope="col">Nombres</th>
        <th scope="col">Motivo</th>
        <th scope="col">Fecha de Atencion</th>
        <th scope="col">Nombre Personal</th>
        <th scope="col">Apellido Personal</th>
        <th scope="col">Apellido Materno Personal</th>

        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dato of datos_tabla_atenciones">
        <td><button #btn type="button" pButton icon="pi pi-bars" label="VER" (click)="menu.toggle($event)"></button>
            <p-tieredMenu #menu [model]="elementosmenu" [popup]="true" appendTo="body"></p-tieredMenu></td>
        
        <td>{{dato.NRO_DOCUMENTO}}</td>
        <td>{{dato.APELLIDO_PAT}}</td>
        <td>{{dato.APELLIDO_MAT}}</td>
        <td>{{dato.NOMBRES}}</td>
        <td>{{dato.DESCRIPCION}}</td>
        <td>{{dato.FECHA| date: 'dd-MM-yyyy hh:mm aa'}}</td>       
        <td>{{dato.APE_NOM_MED}}</td>
        <td>{{dato.APE_PAT_MED}}</td>
        <td>{{dato.APE_MAT_MED}}</td>
        
      </tr>
     

     
     
    </tbody>
  </table>
  <app-detalle-atencion></app-detalle-atencion>
