<div class="col-10">
  <app-selector-ipress-horizontal #ambitoselec
   
  ></app-selector-ipress-horizontal>
</div>

<div class="col-10">
  <div class="card intervalo">
    <form [formGroup]="formulario">
      <div class="form-row">
        <div class="col">
          DESDE
          <p-calendar
            [(ngModel)]="desde"
            dateFormat="dd/mm/yy"
            formControlName="DESDE"
          ></p-calendar>
        </div>
        <div class="col">
          HASTA
          <p-calendar
            [(ngModel)]="hasta"
            dateFormat="dd/mm/yy"
            formControlName="HASTA"
          ></p-calendar>
        </div>
        <div class="col">
          <button
          type="button"
          pButton
          icon="pi pi-file-excel"
          iconPos="left"
          label="EXPORTAR A EXCEL"
          (click)="exportExcel()"
          style="margin-right: 0.5em;"
          class="ui-button-success"
        ></button>
          
          <button
          type="submit"
          class="btn btn-primary"
          (click)="buscarPorFechasAmbito()"
        >
          BUSCAR
        </button>

        </div>
      </div>
    </form>
  </div>
</div>

<div class="col-6">EXISTEN {{ datos_tabla_atenciones.length }} ATENCIONES</div>
<div class="container-fluid">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Acciones</th>
        <th scope="col">Numero de Documento</th>
        <th scope="col">Apellido Paterno</th>
        <th scope="col">Apellido Materno</th>
        <th scope="col">Nombres</th>
        <th scope="col">Motivo</th>
        <th scope="col">Telefono</th>
        <th scope="col">Fecha de Atencion</th>
        <th scope="col">Nombre Personal</th>
        <th scope="col">Apellido Personal</th>
        <th scope="col">Apellido Materno Personal</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dato of datos_tabla_atenciones">
        <td>
          <app-menu-accion-atencion
            [atencion]="dato"
          ></app-menu-accion-atencion>
        </td>
        <td>{{ dato.personaatendida.NRO_DOCUMENTO }}</td>
        <td>{{ dato.personaatendida.APELLIDO_PAT }}</td>
        <td>{{ dato.personaatendida.APELLIDO_MAT }}</td>
        <td>{{ dato.personaatendida.NOMBRES }}</td>
        <td>{{ dato.ANTECEDENTE }}</td>
        <td>{{ dato.personaatendida.TELEFONO }}</td>
        <td>{{ dato.FECHA | date: "dd-MM-yyyy " }}</td>
        <td>{{ dato.trabajadorpersona.NOMBRES }}</td>
        <td>{{ dato.trabajadorpersona.APELLIDO_PAT }}</td>
        <td>{{ dato.trabajadorpersona.APELLIDO_MAT }}</td>
      </tr>
    </tbody>
  </table>
</div>
<app-detalle-atencion></app-detalle-atencion>
