<div class="ui-g">
 
  <div class="ui-g-12">
    <div class="form-group">
      <label>SUBREGION</label>
      <p-dropdown
        [options]="SUBREGION"
        [(ngModel)]="subregionSelect"
        (onChange)="cambioRegion($event)"
        placeholder="Seleccione "
      ></p-dropdown>
    </div>
  </div>
  <div class="ui-g-12">
    <div class="form-group">
      <label>RED</label>
      <p-dropdown
        [options]="redes_filtradas"
        [(ngModel)]="red_seleccionada"
        (onChange)="cambioRed($event)"
        placeholder="Seleccione "
      ></p-dropdown>
    </div>
  </div>
  <div class="ui-g-12">
    <div class="form-group">
      <label>MICRORED</label>
      <p-dropdown
        [options]="MICROREDES_FILTRADAS"
        [(ngModel)]="microred_selecionada"
        (onChange)="devolver_establecimiento($event)"
        placeholder="Seleccione "
      ></p-dropdown>
    </div>
  </div>
  <div class="ui-g-12">
    <div class="form-group">
      <label>ESTABLECIMIENTO</label>
      <p-dropdown
        [options]="ESTABLECIMIENTO_FILTRADO"
        [(ngModel)]="establecimiento_seleccionado"
        (onChange)="cambio_establecimiento($event)"
        placeholder="Seleccione "
      ></p-dropdown>
    </div>
  </div>
</div>
