<p-dialog
  header="REGISTRO DE ATENCION"
  [(visible)]="ver"
  [modal]="true"
  [style]="{ width: '80vw' }"
  [maximizable]="true"
  [baseZIndex]="5000"
  [draggable]="false"
  [resizable]="false"
  >
  {{fua}}
  <p-scrollPanel [style]="{ width: '100%', height: '800px' }">
    <div class="ui-fluid">
      <div class="ui-g">
        <div class="ui-g-4">
          <mat-card
            >NOMBRES Y APELLIDOS COMPLETOS:<br>
            <div class="nombrescompletos">
            {{
              datosPaciente.NOMBRES +
                " " +
                datosPaciente.APELLIDO_PAT +
                " " +
                datosPaciente.APELLIDO_MAT
            }}
          </div></mat-card
          >
        </div>
        <div class="ui-g-2">
          <mat-card
            >NUMERO DE DOCUMENTO:<br>
            <div class="nombrescompletos"> {{ datosPaciente.NRO_DOCUMENTO }}</div>
          </mat-card>
        </div>
        <div class="ui-g-2">
          <mat-card
            >Fecha:
            <div class="nombrescompletos">
              <p-calendar [(ngModel)]="fechaatencion" [locale]="es" showTime="true" hourFormat="12" dateFormat="dd/mm/yy"></p-calendar>
          </div></mat-card
          >
        </div>
        <div class="ui-g-2">
          <mat-card
            >SEGURO:
            <div class="nombrescompletos">
              <app-selector-financiador (onChange)="cambioTipoFinaciador($event)"></app-selector-financiador>
          </div></mat-card
          >
        </div>
        <div class="ui-g-2">
          <mat-card
            >NRO SEGURO:
            <div class="nombrescompletos">
              <input type="text" pInputText />
          </div></mat-card
          >
        </div>
        <div class="ui-g-12">
          <p-steps
            [model]="pasos"
            [(activeIndex)]="activo"
            [readonly]="false"
            (activeIndexChange)="selecionarForm()"
          ></p-steps>
        </div>
       

        <div class="ui-g-12">
          <app-datos-atencion #form1></app-datos-atencion>
        </div>
        <div class="ui-g-12">
          <app-diagnosticos #form2></app-diagnosticos>
        </div>
        <div class="ui-g-12">
          <app-tratamiento #form3></app-tratamiento>
        </div>
      </div>
    </div>

    <p-confirmDialog
      header="Confirmacion"
      icon="pi pi-exclamation-triangle"
    ></p-confirmDialog>


  </p-scrollPanel>
  <p-footer>
    <button
    pButton
    type="button"
    label="IMPRIMIR FUAT"
    (click)="imprimirFuat()"
  ></button>
    <button
      pButton
      type="button"
      label="REGISTRAR ATENCION"
      (click)="registrarAtencion($event)"
    ></button>
  </p-footer>
  <p-toast key ="mensajeregistro"></p-toast>
</p-dialog>
 