

<p-dialog header="REGISTRO DE ATENCION" [(visible)]="visible" [modal]="true" [style]="{width: '80vw'}" [maximizable]="true" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
<div class="ui-fluid">
<p-fieldset legend="Datos de Atencion Realizada">
    <div class="ui-g">
        <div class="ui-g-6">
            <div class="form-group">
                <label for="fechaatencion">Fecha Actual</label>
                <p-calendar [(ngModel)]="fechaatencion" id="fechaatencion"></p-calendar>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Motivo de la Atencion</label>
                <br>
                <textarea pInputTextarea [(ngModel)]="motivoAte" [rows]="5" [cols]="80"></textarea>
            </div>  
        </div>
        <div class="ui-g-6">
            <p-inplace closable="closable">
                <span pInplaceDisplay >
                    Es Caso Covid
                    <p-checkbox name="groupnam" value="val1" [(ngModel)]="casocovit" id="checkboxcov"></p-checkbox>
                </span>
                <span pInplaceContent>
                    <p-panel header="Tipo de caso Covid" >
                        
                       
                       <label for="confirmado">Caso Confirmado</label>
                        <p-radioButton name="groupname" value="C" [(ngModel)]="tipocov">Caso Confirmado</p-radioButton>
                        <label for="sospechoso">Caso Sospechoso</label>
                        <p-radioButton name="groupname" value="S" [(ngModel)]="tipocov">Caso Sospechoso</p-radioButton>
                       
                    </p-panel>
                       
                </span>
            </p-inplace>

           

            
        </div>   
      
    </div>
    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

    <p-toast position="center"></p-toast>
            
           
 </p-fieldset>

<app-formatofuat></app-formatofuat>

</div>
 <button pButton type="button" label="REGISTRAR ATENCION" (click)="registrarAtencion($event)"></button>
</p-dialog>
