<div class="ui-g" *ngIf="visible">
    <div class="ui-g-12">
        <mat-card>
            TRATAMIENTO
            <p-chips [(ngModel)]="tratamientos"></p-chips>
        </mat-card>
    </div>
    <div class="ui-g-12">
        <mat-card>
            RECOMENDACIONES
            <p-chips [(ngModel)]="recomendaciones"></p-chips>
        </mat-card>
    </div>
    <div class="ui-g-12">
        <mat-card>
           OBSERVACIONES
            <p-chips [(ngModel)]="resetamedica"></p-chips>
        </mat-card>
    </div>
</div>
