<p-dialog header="Edicion de Solicitud" [(visible)]="editarsol">
  <p-card
    header="DATOS DE PACIENTE"
    subheader="{{solicitud.NOMBRES}} {{solicitud.APELLIDO_PAT}} {{solicitud.APELLIDO_MAT}} "
    [style]="{ width: '600px' }"
    styleClass="ui-card-shadow"
  >

  <div class="ui-g">
    <div class="ui-g-12">
    <p-fieldset legend="MOTIVO" [style]="{'font-size':'1rem'}">
      <input type="text" pInputText style="
      width: 100%" [(ngModel)]="solicitud.DESCRIPCION"/>
    </p-fieldset>
  </div>
      
    
 
  </div>
  <p-fieldset legend="EDITAR IPRESS DE SOLICITUD" [style]="{'font-size':'1rem'}">
 
    <app-selector-ipress #selecipres></app-selector-ipress>
    
  </p-fieldset>
    <p-footer>
      <p-button label="GUARDAR" (onClick)="editar($event)"></p-button>
      <button
        pButton
        type="button"
        label="CANCEL"
        icon="pi pi-times"
        class="ui-button-secondary"
      ></button>
    </p-footer>
  </p-card>
</p-dialog>
