.form-control{
    font-size: 14px;
    color: black;
    padding: 1px 0px;
    padding-left: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0em 3px 0px 3px;
}
:host ::ng-deep .atencion-boton>.ui-button{
   margin-right: 8px;
}