<p-tabView class="container-fluid">
  <br />
  <p-tabPanel header="Registro de Atenciones">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"
          >Numero de Documento</span
        >
      </div>
      <input
        type="text"
        pInputText
        [(ngModel)]="cod_buscar"
        class="form-control"
        placeholder="Ingrese el numero de solicitud a registrar"
        aria-label="Username"
        aria-describedby="basic-addon1"
      />
      <button
        pButton
        type="button"
        label="BUSCAR"
        (click)="buscarSolicitud()"
      ></button>
    </div>

    <p-fieldset legend="Datos Generales del Paciente">
      <div class="ui-g">
        <div class="form-group ui-g-4">
          <label for="docidentidad">Numero de Documento de Identidad</label>
          <input
            matInput
            type="email"
            class="form-control"
            id="docidentidad"
            aria-describedby="emailHelp"
            placeholder="Numero de Documento de Identidad"
            [(ngModel)]="form.NRO_DOCUMENTO"
            disabled="true"
          />
        </div>

        <div class="form-group ui-g-4">
          <label for="nombres">Nombres</label>
          <input
            type="text"
            class="form-control"
            id="nombres"
            aria-describedby="emailHelp"
            [(ngModel)]="form.NOMBRES"
            disabled="true"
          />
        </div>
        <div class="form-group ui-g-4">
          <label for="ape_pat">Apellido Paterno</label>
          <input
            type="text"
            class="form-control"
            id="ape_pat"
            aria-describedby="emailHelp"
            [(ngModel)]="form.APELLIDO_PAT"
            disabled="true"
          />
        </div>

        <div class="form-group ui-g-4">
          <label for="ape_mat">Apellido Materno</label>
          <input
            type="email"
            class="form-control"
            id="ape_mat"
            aria-describedby="emailHelp"
            [(ngModel)]="form.APELLIDO_MAT"
            disabled="true"
          />
        </div>

        <div class="form-group ui-g-4">
          <label for="domicilio">Domicilio Actual</label>
          <input
            type="email"
            class="form-control"
            id="domicilio"
            aria-describedby="emailHelp"
            [(ngModel)]="form.DIRECCION"
            disabled="true"
          />
        </div>
        <div class="form-group ui-g-4">
          <label for="genero">Genero</label>
          <input
            type="email"
            class="form-control"
            id="genero"
            aria-describedby="emailHelp"
            placeholder="Genero"
            [(ngModel)]="form.GENERO"
            disabled="true"
          />
        </div>

        <div class="form-group ui-g-4">
          <label for="provincia">Provincia</label>
          <input
            type="email"
            class="form-control"
            id="provincia"
            aria-describedby="emailHelp"
            placeholder="Provincia"
            [(ngModel)]="form.NOMBRE_PROVINCIA"
            disabled="true"
          />
        </div>
        <div class="form-group ui-g-4">
          <label for="distrito">Distrito</label>
          <input
            type="email"
            class="form-control"
            id="distrito"
            aria-describedby="emailHelp"
            placeholder="Distrito"
            [(ngModel)]="form.NOMBRE_DISTRITO"
            disabled="true"
          />
        </div>
        <div class="form-group ui-g-4">
          <label for="fecha_nacimiento">Fecha Nacimiento</label>
          <input
            type="email"
            class="form-control"
            id="fecha_nacimiento"
            aria-describedby="emailHelp"
            placeholder="Fecha Nacimiento"
            [(ngModel)]="form.FECHA_NAC"
            disabled="true"
          />
        </div>
      </div>
    </p-fieldset>
    <br />
    SOLICITUD DE ATENCION
    <mat-card>
      <div class="ui-g">
        <div class="ui-g-6">
          <mat-card>
            FECHA Y HORA DE SOLICITUD<br />
            <input
            type="email"
            class="form-control"
            aria-describedby="emailHelp"
            [(ngModel)]="formsol.FECHA_SOLICITUD"
            disabled="true"
          />
           
          </mat-card>
        </div>
        <div class="ui-g-6">
          <mat-card>
            MOTIVO
            <input
              type="email"
              class="form-control"
              aria-describedby="emailHelp"
              [(ngModel)]="formsol.DESCRIPCION"
              disabled="true"
            />
          </mat-card>
        </div>
        <div class="ui-g-6">
          <mat-card>
            DOMICILIO ACTUAL
            <input
              type="email"
              class="form-control"
              aria-describedby="emailHelp"
              [(ngModel)]="formsol.DOMICILIO_ACTUAL"
              disabled="true"
            />
          </mat-card>
        </div>
        <div class="ui-g-6">
          <mat-card>
            REFERENCIA
            <input
              type="email"
              class="form-control"
              aria-describedby="emailHelp"
              [(ngModel)]="formsol.DIRECCION"
              disabled="true"
            />
          </mat-card>
        </div>
        <div class="ui-g-6">
          <mat-card>
            TELEFONO DE CONTACTO 1
            <input
              type="email"
              class="form-control"
              aria-describedby="emailHelp"
              [(ngModel)]="formsol.TELEF_CONTACTO"
              disabled="true"
            />
          </mat-card>
        </div>
        <div class="ui-g-6">
          <mat-card>
            TELEFONO DE CONTACTO 2
            <input
              type="email"
              class="form-control"
              aria-describedby="emailHelp"
              [(ngModel)]="formsol.TELEF_CONTACTO2"
              disabled="true"
            />
          </mat-card>
        </div>
        <div class="ui-g-6">
          <mat-card>
            CORREO ELECTRONICO
            <input
              type="email"
              class="form-control"
              aria-describedby="emailHelp"
              placeholder=" Motivo"
              [(ngModel)]="formsol.CORREO2"
              disabled="true"
            />
          </mat-card>
        </div>
      </div>
    </mat-card>

    <p-fieldset legend="Morbilidades del Paciente">
      <app-morbilidades-por-paciente
        #mpp
        [(dni)]="cod_buscar"
      ></app-morbilidades-por-paciente>
    </p-fieldset>
    <app-registrar-atencion
      #panreg
      [(datosPaciente)]="form"
      [(atencion)]="atencion"
      [(cod_paciente)]="cod_buscar"
      [(ID_PACIENTE)]="ID_PACIENTE"
      [(ID_SOLICITUD)]="ID_SOLICITUD"
      [(ver)]="verpanelregistro"
      [(datos_solicitud)]="formsol"
    ></app-registrar-atencion>
    <button
      pButton
      type="button"
      label="Iniciar Atencion"
      (click)="IniciaRegistro($event)"
      (completoRegistro)="CerrarRegistro()"
    ></button>
  </p-tabPanel>
  <p-tabPanel header="Solicitudes de Atencion Pendientes"> </p-tabPanel>
  <p-tabPanel header="Atendidos">
  
  </p-tabPanel>
</p-tabView>
