<p-card>
  <p-card header="HISTORIAL DE ATENCIONES"> </p-card>
  <div class="row">
    <div class="col-1">Acciones</div>
    <div class="col-2">Fecha</div>
    <div class="col-6">Personal Responsable</div>
    <div class="col-3">Motivo</div>
  </div>
  <div class="row encabesadoatencion" *ngFor="let atencion of atenciones">
    <div class="col-1">Acciones</div>
    <div class="col-2">
      <h6>{{ atencion.FECHA | date: "dd-MM-yyyy" }}</h6>
    </div>
    <div class="col-6">
      <h6>
        {{ atencion.trabajadorpersona.NOMBRES + " " }}
        {{ atencion.trabajadorpersona.APELLIDO_PAT + " " }}
        {{ atencion.trabajadorpersona.APELLIDO_MAT + " " }}
      </h6>
    </div>
    <div class="col-3">{{ atencion.ANTECEDENTE + " " }}</div>
    <div class="col-12">
      <p-card header="Diagnosticos">
        <div class="row">
          <div class="col-1">Item</div>
          <div class="col-4">Codigo</div>
          <div class="col-4">Descripcion</div>
        </div>
        <div class="row" *ngFor="let diagnostico of atencion.diagnosticos ">
          <div class="col-1">{{diagnostico.NRO_ITEM}}</div>
          <div class="col-4">{{diagnostico.CODIGO_DIAGNOSTICO}}</div>
          <div class="col-4">{{diagnostico.Descripcion}}</div>
        </div>
        <p-footer>
          <p-button
            label="Imprimir Fuat"
            [style]="{ float: 'right' }"
         
        (onClick)="Imprimefuat(atencion)"   ></p-button>
        </p-footer>
      </p-card>
    </div>
  </div>
  <p-footer>imprimir</p-footer>
</p-card>
