<p-sidebar [(visible)]="visible" [style]="{width:'100em'}" (onHide)="rutanula()">
 

<div class="ui-g">
    <div class="ui-g-6"><app-persona #formpersona (cambioDistrito)="cambiar_distrito($event)"></app-persona></div>
    <div class="ui-g-6">
        <div class="formulario-solicitud">
            <div class="card">
                <h5 class="card-title">SOLICITUD DE ATENCION NUEVA</h5>               
                <div class="card-body">
                    <form action="" [formGroup]="SOLICITUDFORM">
                        <div class="ui-g">
                          <div class="ui-g-3">MOTIVO</div>
                          <div class="ui-g-9"><textarea [rows]="10" [cols]="60" pInputTextarea formControlName='DESCRIPCION'></textarea></div>
                          <div class="ui-g-6">ESTABLECIMIENTO</div>
                          <div class="ui-g-6"><app-selector-ipress-min #selectoripres formControlName='ID_IPRESS'></app-selector-ipress-min></div>                          
                         
                        </div>
                      </form>
                </div>
            </div>
         
        </div>
        
    </div>
    
</div>
<div class="footerform">
        
    <p-button label="GUARDAR" (onClick)="GUARDAR($event)"></p-button>
    <p-button label="CANCELAR" (onClick)="GUARDAR($event)"></p-button>


</div>


</p-sidebar>
