<app-header (toggleSideBarForMe)="sideBarToggler()" (notiA)="noti()">

</app-header>
<p-dialog header="Solicitudes Actuales de Seguimiento" [(visible)]="displayNotificacion" [modal]="true" [style]="{width: '80vw'}" [maximizable]="true" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false" [baseZIndex]="80">
<app-tabla-notificacion [displayNotificacion]="displayNotificacio">

</app-tabla-notificacion>
</p-dialog>


<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-sidebar></app-sidebar>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>


<app-footer></app-footer>